<div class="container">
	<nav>
		<ul>
			<li>
				<strong>ENI-Encheres</strong>
			</li>
		</ul>
		<ul>
			<li><a href="#">S'incricre</a></li>
			<li><a href="#">Se connecter</a></li>
		</ul>
	</nav>
</div>
