<div>
	<nav class="container-fluid">
		<ul>
			<li>
				<a href="{{ path('app_home') }}">
					<strong>ENI-Enchères</strong>
				</a>

			</li>
		</ul>
		<ul>
			{% if app.user %}
				<li>
					<a href="#">Enchères</a>
				</li>
				<li>
					<a href="#">Vendre un article</a>
				</li>
				<li>
					<a href="#">Mon profil</a>
				</li>
				<li>
					<a href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
			{% else %}
				<li>
					<a href="{{ path('app_register') }}">S'incrire</a>
				</li>
				<li>
					<a href="{{path('app_login')}}">Se connecter</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div>
